* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Open Sans;
}

section {
    margin-top: 120px;
}

.header1 {
    width: 1600px;
    height: 837px;
    background: #FFF8F3;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 220px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav li {
    list-style: none;
    margin-right: 70px;
    color: #474747;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}

.style-head {
    color: #FD6E0A;
}


.head {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.name {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.org-name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner {
    margin: 50px 30px 0px 200px;
}

/*main section*/

.about-me {
    margin: 130px 230px;
    border-radius: 10px;
    background: #FFF8F3;
}

.sec-head {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    padding-top: 130px;

}

.about-me-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 130px;
}

.div-continer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 180px 130px 180px;
}

.div-title {
    color: var #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.description {
    color: #474747;
}

.head {
    text-align: center;
}

.header-sec {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 40px 330px;

}

.skill-continer {
    display: flex;
    margin: 0px 180px;
    padding: 30px;
    gap: 30px
}

.skill {
    border-radius: 5px;
    background-color: #808080;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.picture {

    padding: 30px 180px 30px 30px;
}

.head-what-do {
    color: #181818;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;

}

.des-what-to-do {
    color: #181818;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 20px 20px 20px;

}

.head-resume {
    text-align: center;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.resume-colume {
    display: flex;
    padding: 130px 230px 50px 230px;
    gap: 70px;
}

.resume-title {
   
    color: #474747;
    font-size: 30px;
    font-weight: 700;
   
}

.resume-head {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}

.resume-sub-head {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px 20px 0px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
}
.download-cv{
    text-align: center;
    margin-bottom:  70px ;

}
.footer