* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Open Sans;
}

.header1{
    width: 1600px;
    height: 837px;
    background: #FFF8F3;
    

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 220px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav li {
    list-style: none;
    margin-right: 70px;
    color: #474747;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}

.style-head {
    color: #FD6E0A;
}

.head {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.name {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.org-name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner{
    margin: 50px 30px 0px 200px;
}